 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oleo+Script+Swash+Caps&display=swap');

 body {
     margin: 0;
     height: 100vh;
     width: 100%;
     background-color: rgb(191, 191, 253);
 }

 .logo {
     font-family: 'Oleo Script Swash Caps';
     font-size: 35px;
     opacity: 0.7;
     margin-left: 13px;
 }

 .btnList {
     display: grid;
     grid-template-rows: 1fr 1fr;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
     gap: 5px;
     padding: 0;
     margin-top: -20px;
     margin-left: 6rem;
 }

 .btnContainer {
     padding: 0;
     justify-content: center;
     padding: 20px;
     margin-top: -20px;
     margin-left: 23px;
 }

 input {
     background-color: grey;
     opacity: 0.7;
     color: rgb(2, 2, 2);
     margin-top: 5px;
     cursor: pointer;
 }

 .mainContainer {
     justify-content: center;
     text-align: justify;
     flex-wrap: wrap;
     justify-content: space-between;
 }

 .weatherContainer {
     margin-top: -30px;
     display: flex;
     justify-content: center;
     padding: 20px;
     text-align: justify;
     background-color: grey;
     border-radius: 15px;
     opacity: 0.7;
     width: 92.5%;
     margin-left: 2rem;
     height: 15.5em;
 }

 .citiName {
     border-radius: 8px;
     width: 48%;
     opacity: 0.7;
     height: 50vh;
 }

 .rightModul {
     margin-top: -15px;
     margin-left: 17rem;
     list-style: none;
     padding: 0;
 }

 .opisEl {
     font-size: 30px;
     font-family: "Montserrat";
     margin-top: -10px;
 }

 .cityParagraph {
     font-size: 34px;
     font-family: "Montserrat";
 }

 .tempEl {
     font-size: 100px;
     font-family: "Montserrat";
     margin-top: -28px;
     padding: 0;
     margin-left: 67px;
 }

 .dataEl {
     font-size: 15px;
     font-family: "Montserrat";
     margin-top: -10px;
     margin-left: 9em;
 }

 .iconContainer {
     opacity: 0.7;
     border-radius: 8px;
     width: 48%;
     color: rgb(255, 255, 255);
     margin-left: 5px;
 }

 .currentContainer {
     display: inline;
     align-items: center;
 }

 .cityButton {
     font-family: 'Montserrat';
     font-size: 14px;
     border-radius: 8px;
     border: none;
     height: 2rem;
     width: auto;
     align-items: center;
     opacity: 0.7;
     cursor: pointer;
 }

 button:focus {
     outline: none;
     box-shadow: none;
 }

 .forecastEl {
     display: flex;
     margin-left: 1.6rem;
     margin-top: 4px;
 }

 .forecastList {
     align-items: center;
     background-color: gray;
     opacity: 0.7;
     border-radius: 15px;
     font-family: 'Montserrat';

     margin: 5px;

     height: 16em;
     width: 32%;
 }

 .pList {
     display: block;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
 }

 #pw {
     margin-top: -5px;
 }