 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oleo+Script+Swash+Caps&display=swap');

 body {
     margin: 0;
     height: 100vh;
     width: 98%;
     background-color: rgb(191, 191, 253);
 }

 .logo {
     font-family: 'Oleo Script Swash Caps';
     font-size: 44px;
     opacity: 0.7;
     margin-left: -4px;   
 }
 .ribbon{
     background-color: orange;
     width: 81%;
     height: 3.7rem;
     opacity: 0.8;
     position: absolute;
     left: 16em;
     top:-15px;
     border-radius: 18px;
    }
 .ribbonTwo{
     background-color: rgb(255, 205, 67);
     width: 83%;
     height: 3rem;
     opacity: 0.8;
     position: absolute;
     left: 14em;
     top:-22px;
     border-radius: 15px;
    }
 .ribbonTwo{
     background-color: rgb(255, 205, 67);
     width: 78%;
     height: 3rem;
     opacity: 0.7;
     position: absolute;
     left: 17em;
     top:-15px;
     border-radius: 15px;
    }
 .ribbonThree{
     background-color: rgb(254, 254, 4);
     width: 75%;
     height: 3rem;
     opacity: 0.6;
     position: absolute;
     left: 18.5em;
     top:-30px;
     border-radius: 13px;
    }
   
 /* .btnList {
     
     display: grid;
     grid-template-rows: 1fr 1fr;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
     gap: 5px;
     padding: 0;
     margin-top: -20px;
     margin-left: 6rem;
 } */
 .newBtnList{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    left: 2em;
    bottom:50px;
 }
 .btnModul{
   height: 10px;
   width: 100%;
   
 }

 .btnContainer {
     padding: 0;
     justify-content: center;
     padding: 20px;
     margin-top: -20px;
     margin-left: 23px;
 }

 input {
     background-color: rgb(228, 225, 225);
     opacity: 0.7;
     color: rgb(0, 0, 0);
     margin-top: 5px;
     cursor: pointer;
     border: none;
     border-radius: 8px;
     height: 1.5em;
     width: 13.5em;
     font-size: 15px;
     margin-left: -15px;
 }
 input{
      text-align: center;
 }
 .mainContainer {
     justify-content: center;
     text-align: justify;
     flex-wrap: wrap;
     justify-content: space-between;
 }

 .weatherContainer {
     margin-top: -30px;
     display: flex;
     justify-content: center;
     padding: 20px;
     text-align: justify;
     background-color: grey;
     border-radius: 15px;
     opacity: 0.7;
     width: 92.5%;
     margin-left: 2rem;
     height: 15.5em;
 }

 .citiName {
     border-radius: 8px;
     width: 48%;
     opacity: 0.7;
     height: 50vh;
     position: fixed;
     right: -1rem;
 }
 .leftModulClass{
     margin-left:3rem;
     display:flexbox;
     padding: 0;
     margin-top: -15px;
 }
 .rightModul {
     margin-top: -15px;
     
     list-style: none;
     position: relative;
     left: 2rem;
 }
 .opisEl {
     font-size: 27px;
     font-family: "Montserrat";
     margin-top: -10px;
 }
 .span{
     display: block;
 }
 .cityParagraph {
     font-size: 34px;
     font-family: "Montserrat";
     display: flexbox;
     position: relative;
     left: 11px;
     text-align: center;
     
     
 }

 .tempEl {
     font-size: 100px;
     font-family: "Montserrat";
     margin-top: -28px;
     padding: 0;
     margin-left: 67px;
 }

 .dataEl {
     font-size: 18px;
     font-family: "Montserrat";
     margin-top: -10px;
     margin-left: 7em;
 }

 .iconContainer {
     opacity: 0.7;
     border-radius: 8px;
     width: 48%;
     color: rgb(255, 255, 255);
     position: relative;
     margin-left: -3rem;
     position: relative;
    text-align: center;
    
    
 }

 .currentContainer {
     display: inline;
     align-items: center;
 }
 
 .cityButton {
     font-family: 'Montserrat';
     font-size: 17px;
     border-radius: 8px;
     border: none;
     height: 2rem;
     width: auto;
     align-items: center;
     opacity: 0.9;
     cursor: pointer;
     margin: 10px;
 }
 .cityButton:hover{
     color:rgb(139, 139, 139)
 }

 

 .forecastEl {
     display: flex;
     margin-left: 1.6rem;
     margin-top: 4px;
 }

 .forecastList {
     align-items: center;
     background-color: gray;
     opacity: 0.7;
     border-radius: 15px;
     font-family: 'Montserrat';

     margin: 5px;

     height: 16em;
     width: 32%;
 }

 .pList {
     display: block;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     margin-top: -0.1px;
 }
 .pList.day{
     font-size: 25px;
     margin-top: 4px;
 }
 .pList.temp{
     font-size: 20px;
     font-style: none;
 }
 .classWiatr{
     font-size: 25px;
     /* margin-bottom: 4px; */
 }

 #pw {
     margin-top: -5px;
 }
 .infoData{
     background-color: rgb(113, 112, 112);
     border-radius: 15px ;
     border: 'none';
     /* opacity: 0.9; */
     height: 100%;
     width: 27rem;
     font-family: 'Montserrat';
     text-align:  center;
     position:relative;
     
 }
 .infoDiv{
     margin-top: 23px;
 }

  .N{ transform: rotate(0deg);}
  .NE{ transform: rotate(45deg);}
  .E{ transform: rotate(90deg);}
  .SE{ transform: rotate(135deg);}
  .S{ transform: rotate(180deg);}
  .SW{ transform: rotate(225deg);}
  .W{ transform: rotate(270deg);}
  .NW{ transform: rotate(315deg);}
 